<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title></title>

    <link rel="icon" href="images/favicon.png">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
    {% set realName = ''%}
    <h1 align="center">League of Legends</h1>
    <div id='gameid' hidden>{{ game.GameId() }}</div>
    <p class='game-player-row' style='color: white;'>Map: {{ getMap(game.MapId()).Name() }}
        <br>Game Mode: {{ game.GameMode() }}
        <br>Queue: {{ getQueueType(game.GameQueueConfigId()).Description() }}
    </p>
    <div>
        <table class='background-blue-team'>
        {% for player in game.BlueSideTeam() %}
            {% set keyRune = player.Runes()[0] %}
            {% set runestat = player.Runes()[8] %}
                {% if player.Summonername()|replace({" ": ""})|lower is same as (summonerName|replace({" ": ""})|lower) %}
                    {% set realName = player.Summonername() %}
                    <tr class='game-player-row background-blue-team-player'>
                {% else %}
                    <tr class='game-player-row'>
                {% endif %}
                        <td style='width:250px'>
                            <a href='{{ "index.php?name=#{player.Summonername()}&id=0" }}'>{{ player.Summonername() }}</a>
                        </td>
                        <td>
                            <img alt='{{ getChampion(player.ChampionId()).Name() }}' class='small-icon' src='{{ getChampionIconPath(player.ChampionId()) }}'> {{ getChampion(player.ChampionId()).Name() }}
                        </td>
                        <td>
                            <img alt='{{ keyRune.Name() }}' class='small-icon' src='{{ getRuneIconURL(keyRune) }}'>{{ keyRune.Name() }}
                        </td>
                    </tr>
        {% endfor %}
        </table>
    </div>
    <p class='game-player-row' style='text-align: center; font-size: 30px; font-weight: bold; color: white; margin-top: 0; margin-bottom: 0;'>VS</p>
    <div>
        <table class='background-red-team'>
            {% for player in game.RedSideTeam() %}
                {% set keyRune = player.Runes()[0] %}
                {% set runestat = player.Runes()[8] %}
                {% if player.Summonername()|replace({" ": ""}) is same as (summonerName|replace({" ": ""})) %}
                    {% set realName = player.Summonername() %}
                    <tr class='game-player-row background-red-team-player'>
                {% else %}
                    <tr class='game-player-row'>
                {% endif %}
                <td style='width:250px'>
                    <a href='{{ "index.php?name=#{player.Summonername()}&id=0" }}'>{{ player.Summonername() }}</a>
                </td>
                <td>
                    <img alt='{{ getChampion(player.ChampionId()).Name() }}' class='small-icon' src='{{ getChampionIconPath(player.ChampionId()) }}'> {{ getChampion(player.ChampionId()).Name() }}
                </td>
                <td>
                    <img alt='{{ keyRune.Name() }}' class='small-icon' src='{{ getRuneIconURL(keyRune) }}'>{{ keyRune.Name() }}
                </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href='{{ "index.php?id=0&name=#{summonerName}" }}'><button>Back</button></a>
    <script type="text/javascript">
        document.getElementsByTagName("title")[0].textContent = '{{ "#{realName} - LoL Test" }}';
    </script>
</body>
</html>
